*{
    background-color: #161313;
    color: #ffffff;
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
}
#tete{
    border-bottom: 1px solid;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 50px;
}
h1{
   font-size: 50px;
}
ul{
    text-align: right;
    margin-bottom: 25px;
}
a{
    text-decoration: none;
}
li{
    display: inline;
    margin-left: 35px;
}
#contenu{
    margin-top: 180px;
    text-align: center;   
    height: 250px;
}
span{
    
    display: inline-block;
    height: 100px;
    margin-top: 50px;
}
#bouton{
    text-align: center;
    margin-top: 15px;
}
button{
    border-radius: 25px;
    border-color: green;
    text-transform: uppercase;
    padding: 10px 35px;
}   
h2{
    margin-top: 45px;  
} 
p{
    margin-top: 5px;  
}
#spn{
    width: 350px;
    border-left: 1px solid;
    border-right: 1px solid;
}
.sp{
    width: 300px; 
}
